{% extends 'base.html' %}
{% load static %}
{% block title %}Бэлд Суралц Бүтээ{% endblock title %}
{% block style %}
<style>
    @font-face {
        font-family: 'Manrope Regular';
        src: url("{% static 'fonts/Manrope-Light.ttf' %}") format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    .btn-custom {
        font-size: 18px;
        padding: 12px 24px;
        background-color: #007bff;
        color: white;
        border-radius: 50px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

    .btn-custom:hover {
        background-color: #0056b3;
        transform: scale(1.1);
    }

    .custom-card {
        position: relative;
        text-align: center;
        justify-content: center;
    }

    img.button-effect {
        cursor: pointer;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    img.button-effect:hover {
        transform: scale(1.05);
    }

    img.button-effect:active {
        transform: scale(0.95);
    }

    .styled-input {
        width: 100%;
        max-width: none; 
        height: 70px; 
        border-radius: 35px; 
        border: none;
        padding-left: 30px;
        padding-right: 30px;
        background: linear-gradient(to bottom, #ffffff, #e0e0e0);
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2), 0 4px 20px rgba(0, 0, 0, 0.1);
        font-size: 24px; 
        color: #555;
        text-align: center;
        margin-bottom: 20px;
    }

    .styled-input::placeholder {
        color: #888;
        font-family: 'Manrope Regular', serif;
        font-size: 1.8em;
        text-align: center;
    }

    .styled-input:focus {
        outline: none;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    }

    .button-effect {
        cursor: pointer;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        margin-top: 20px;
        display: block;
    }

    #input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
    }

    #validation, #register-form {
        width: 80%;
        max-width: 1000px;
    }
</style>
{% endblock style %}
{% block content %}
<div class="row">
    <div id="input-container">
        <div id="validation" class="text-center my-4">
            <input type="text" id="code" class="form-control styled-input mb-2" required="true" autocomplete="off"
                   placeholder="Сугалааны дугаараа оруулна уу."  maxlength="8" />
        </div>
        <div id="register-form" class="text-center my-4">
            <input type="number" id="phone_no" class="form-control styled-input mb-2" required="true" maxlength=8 autocomplete="off"
                   placeholder="Утасны дугаараа оруулна уу" oninput="this.value = this.value.slice(0, 8);" />
        </div>
        <img src="{% static 'images/oruulah.png' %}" onclick="validateBoth()" width="25%" alt="" class="button-effect">
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
    function getCsrfToken() {
        var name = 'csrftoken';
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function validateBoth() {
        var code = document.getElementById("code").value;
        var phone_no = document.getElementById("phone_no").value;
        if(!phone_no || !code){
            showToast("Хэрэгтэй мэдээллүүдээ бөглөнө үү", false);
            return;
        }
        if (phone_no && phone_no.length == 8) {
            if (phone_no && phone_no.length === 8) {
                if (['6', '7', '8', '9'].some(digit => phone_no.startsWith(digit))) {
                    console.log("Phone number is valid and starts with a valid digit.");
                } else {
                    showToast("Таны утасны дугаар бодит дугаар биш байна", false);
                    return;
                }
            } 
        }
        else{
            showToast("Таны утасны дугаар 8 оронтой байх ёстой", false);
            return;
        }
        blockPage();
        const data = new URLSearchParams();
        data.append("code", code);
        data.append("phone_no", phone_no);
        fetch("{% url 'validate_both' %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded",
                "X-CSRFToken": getCsrfToken()
            },
            body: data.toString(),
        })

        .then(response => response.json())
        .then(data => {
            unBlockPage();
            if (data.valid) {
                showToast(data.msg, true);
                window.location.href = "{% url 'wheel' %}?phone_no=" + encodeURIComponent(data.phone_no) + "&code=" + encodeURIComponent(data.code);
            } else {
                showToast(data.msg, false);
            }
        });
    }

</script>
{% endblock scripts %}
