{% extends 'base.html' %}
{% load static %}
{% block title %}Spin the Wheel{% endblock title %}
{% block style %}
<style>
    body{
        background-image: none !important;
    }
</style>
<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css">
<!-- DataTables Buttons CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">
{% endblock style %}
{% block content %}
<button id="replayButton" class="btn btn-secondary" onclick="window.location.reload()">Дахин ачааллах</button>

<table id="example" class="table table-striped">
    <thead>
        <tr>
            <th>Код</th>
            <th>Утасны дугаар</th>
            <th>Хожсон бараа</th>
            <th>Хожсон огноо</th>
        </tr>
    </thead>
    <tbody>
        {% for lottery in lottery_list %}
        <tr>
            <td>{{ lottery.lottery }}</td>
            <td>{{ lottery.phone_no }}</td>
            <td>{{ lottery.item.title }}</td>
            <td>{{ lottery.created_at | date:'Y-m-d H:i:s A' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
{% block scripts %}
<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Include DataTables JS -->
<script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
<!-- Include DataTables Buttons JS -->
<script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: 'Export to Excel',
                    titleAttr: 'Export to Excel'
                }
            ]
        });
    });
</script>
{% endblock scripts %}
